body{ 
    
    background-color: darkkhaki;
}
h1{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: darkorchid;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}