@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right,#C1B83E,#E0A801);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px,5px,15px,#E0A801;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;
}

h1{
    color: #6445ad;
    text-align: center;
    text-shadow: 1px,1px,0px,#666118fb;
}
h2{
   color: #e74008; 
}